doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  p.navbar-header
    a(href='/') Home
    br
    a(href='/test') Test 1
    br
    a(href='/button') Button
  body
    block content
